body{
/* background-image: url("../images/beans.jpeg"); */
background-color: #F7DFC0;
}

.col-lg-10{
opacity: 0.85;
color:black;
background-color: white;
/* font-weight: 900; */
/* background-image: url("../images/coffee2.jpg"); */
    /* width:100%; */
    height: 200px;
	     /* display: block; */
    float: right;
}
/* .h3{ */
	/* color:white; */
/* } */

	
.text-truncate{
	/* color:#b36e0e; */
}

.card-columns{
background-color: #F7DFC0;
}

.col-sm-4{
background-color: white;
}
.card-title{
color: blue;
}
/* Flaired edges */

.style2 {
	border-top: 3px double #8c8b8b;
}

/* .container-fluid{ */
	/* background-color: #F7DFC0; */
/* } */

hr.style-seven {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

/* Gradient transparent - color - transparent */

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}









